<div class="container">
  <div class="row">
    <div class="col-4">
      <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
    </div>
    <div class="col-8">
      <div class="font-weight-bold mb-1">{{user.name}}</div>
      <div class="mb-3">{{user.email}}</div>
      <div class="mb-3">{{comments.count}} 已評論餐廳</div>
      <div class="edit-btn">
        <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card mx-3">
  <div class="card-header">
    {{comments.count}} 已評論餐廳
  </div>
  <div class="card-body d-flex flex-row flex-wrap">
    {{#each comments.rows}}
      <div class="m-1"> 
        <a href="/restaurants/{{this.Restaurant.id}}">
        <img class="card-img-top" src="{{this.Restaurant.image}}" alt="Card image cap" style="width:50px; height:45px">
        </a>
      </div>
   {{/each}}
  </div>
</div>